<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/subreddit.css">

    <title><%= subreddit %> </title>
</head>
<body>
    <div id="topbar">
        <h1 style="color: white;">r/<%= subreddit %> subreddit </h1>
        <h2><%= subredditData.description %> </h2>
    </div>

    <div id="container">
    <% for (let posts of subredditData.posts) { %> 
        <div class="cards">
        <h2><%= posts["title"] %> </h2>
        <h3><%= posts["author"] %> </h3>
        <% if (posts["img"]) { %> 
            <img src="<%= posts["img"] %>">
        <% } %> 
        <form action="/r/<%= subreddit %>/<%= posts.id %>/makecomment" method="POST" style="width: 100%;">
            <input type="text" placeholder="comment" class="comment_input" name="comment">
            <button>Post</button>
        </form>
        <% for (let comments of posts.comment) { %> 
            <div class="comment_div">
                <h2 class="commenth2"><%= comments %></h2>
            </div>
        <% } %> 
        </div>
    <% } %> 
    </div>
    
</body>
</html>